@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.addCard {
  background-color: $primary-color !important;
  border: unset !important;
}

.title_ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Cho phép ngắt dòng */
  height: 48px;
}
