@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menuCategory {
  img {
    border-radius: 2%;
  }
  .level0 {
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    justify-content: flex-start;
    .level1 {
      flex-direction: column;
      padding: unset;
      width: calc(100% / 3);
      padding: 1rem;
      a {
        color: $primary-color;
      }
      .listCategory {
        flex-direction: column;
        padding: unset;
        .level2 {
          a {
            color: $text-black;
          }
        }
      }
    }
  }
}
