@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page404 {
    margin: 5rem 0;
    h1 {
        font-size: 6rem;
        color: $primary-color;
    }

    p {
        margin-bottom: 20px;
    }

    .btn {
        margin-top: 10px;
    }

    a {
        background-color: $primary-color;
        border: unset;
        &:hover {
            background-color: $primary-color;
        }
    }
}
